<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardMapper">

	<!-- 게시판 글 작성 -->
	<insert id="insert" parameterType="com.green.ffee.sns.vo.BoardVO" useGeneratedKeys="true" keyProperty="bno">
	    <selectKey keyProperty="bno" resultType="int" order="BEFORE">
	    	SELECT MP_BOARD_SEQ.NEXTVAL FROM DUAL
	    </selectKey>
	    INSERT INTO MP_BOARD(    BNO 
	   					       , TITLE 
	   					       , CONTENT 
	   					       , WRITER  )
	                  VALUES(    #{bno}
	                 		   , #{title}
	                 		   , #{content}
	                 		   , #{writer}  )
   
    </insert>
   
	<select id="listPage" resultType="com.green.ffee.sns.vo.BoardVO" parameterType="com.green.ffee.sns.vo.SearchCriteria">
		SELECT  BNO, 
		        TITLE, 
		        CONTENT,
		        WRITER, 
		        REGDATE
		 FROM ( 
		        SELECT BNO, 
		               TITLE, 
		               CONTENT, 
		               WRITER, 
		               REGDATE, 
		               ROW_NUMBER() OVER(ORDER BY BNO DESC) AS RNUM
		         FROM MP_BOARD
		         WHERE 1=1 
	         	<include refid="search"></include>
		                       ) MP
		WHERE RNUM BETWEEN #{rowStart} AND #{rowEnd}
		ORDER BY BNO DESC
	</select>
	
	<select id="listCount" parameterType="com.green.ffee.sns.vo.SearchCriteria" resultType="int">
		SELECT COUNT(BNO)
		   FROM MP_BOARD
		   WHERE 1=1
		<include refid="search"></include>	
		   AND BNO > 0
	</select>
	
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">AND TITLE LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'c'.toString()">AND CONTENT LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'w'.toString()">AND WRITER LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'tc'.toString()">AND (TITLE LIKE '%' || #{keyword} || '%') or (CONTENT LIKE '%' || #{keyword} || '%')</if>
		</if>
	</sql>
	
	
	
	<!-- snslist 조회 -->
	<select id="selectSnsList" resultType="com.green.ffee.sns.vo.FileVo" parameterType="com.green.ffee.sns.vo.SearchCriteria">
		
	select * from (
    SELECT  BNO, 
		        TITLE, 
		        CONTENT,
		        WRITER, 
		        REGDATE,
                STORED_FILE_NAME,
                cnt,
                ROW_NUMBER() OVER(ORDER BY bno desc) AS RNUM
                
		 FROM ( 
		         SELECT MP.BNO, 
		               MB.TITLE, 
		               MB.CONTENT, 
		               MB.WRITER, 
		               MB.REGDATE,
                       MP.STORED_FILE_NAME,
		              ROW_NUMBER() OVER ( PARTITION BY MP.BNO ORDER BY MP.FILE_NO ) CNT
                     -- ROW_NUMBER() OVER(ORDER BY MP.bno desc) AS RNUM
                     
		         FROM MP_BOARD MB,MP_FILE MP
                 
                 WHERE MB.BNO = MP.BNO
                 <include refid="snslistsearch"></include>
		                       )t
              where cnt =1
              )tt
		WHERE tt.RNUM BETWEEN #{rowStart} AND #{rowEnd}
	</select>
	
	<!-- snslist 페이징 넘버링 -->
	<select id="snslistCount" parameterType="com.green.ffee.sns.vo.SearchCriteria" resultType="int">
	
		SELECT COUNT(mp.BNO)      
		FROM MP_FILE mp,mp_board mb      
		WHERE mp.BNO = mb.BNO 
		AND 1=1
		<include refid="snslistsearch"></include>	
	    AND mb.BNO > 0
	    
	</select>
	
	<!-- snslist 검색어창 -->
	<sql id="snslistsearch">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">AND mb.TITLE LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'c'.toString()">AND mb.CONTENT LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'w'.toString()">AND mb.WRITER LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'tc'.toString()">AND (mb.TITLE LIKE '%' || #{keyword} || '%') or (mb.CONTENT LIKE '%' || #{keyword} || '%')</if>
		</if>
	</sql>
	
	<select id="read" parameterType="int" resultType="com.green.ffee.sns.vo.BoardVO">
		SELECT   BNO
			   , TITLE
			   , LIKE_CNT
			   , LIKE_LOW
			   , HIT
			   , CONTENT
			   , WRITER
			   , REGDATE
		  FROM MP_BOARD
		 WHERE BNO = #{bno}
		 
	</select>
	
	<update id="update" parameterType="com.green.ffee.sns.vo.BoardVO">
		UPDATE MP_BOARD
		   SET TITLE    =   #{title},
		   	   CONTENT  =   #{content}
		 WHERE BNO = #{bno} 
	</update>
	
	<delete id="delete" parameterType="int">
		DELETE 
		  FROM MP_BOARD
		 WHERE BNO = #{bno}
	</delete>
   
    <insert id="insertFile" parameterType="hashMap">
		INSERT INTO MP_FILE(
			FILE_NO,
			BNO,
			ORG_FILE_NAME,
			STORED_FILE_NAME,
			FILE_SIZE
		)VALUES(
			SEQ_MP_FILE_NO.NEXTVAL,
			#{BNO},
			#{ORG_FILE_NAME},
			#{STORED_FILE_NAME},
			#{FILE_SIZE}
		)
    </insert>
    
    <!-- 첨부파일 조회 -->
	<select id="selectFileList" parameterType="int" resultType="com.green.ffee.sns.vo.FileVo">
		SELECT FILE_NO,
			   ORG_FILE_NAME,
			   STORED_FILE_NAME,
			   ROUND(FILE_SIZE/1024,1) AS FILE_SIZE
		  FROM MP_FILE
		 WHERE BNO = #{BNO}
		   AND DEL_GB = 'N'
		   
		   
	</select>

    
	
	<!-- 조회수 -->
	<update id="hit" parameterType="int">
 		UPDATE MP_BOARD 
 			SET HIT = HIT + 1 
 		WHERE 
 			BNO = #{BNO}
	</update>
	
	<!-- 추천 버튼 -->
	<update id="recommend" parameterType="int">
		UPDATE MP_BOARD SET
	      LIKE_CNT = LIKE_CNT +1
		WHERE
	      BNO = #{BNO}
	</update>
	
	<!-- 비추천 버튼 -->
	<update id="lowrecommend" parameterType="int">
		UPDATE MP_BOARD SET
	      LIKE_LOW = LIKE_LOW +1
		WHERE
	      BNO = #{BNO}
	</update>
</mapper>