<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="noticeMapper">


	<!-- 게시판 글 작성 -->
	<insert id="insert" parameterType="com.green.ffee.notice.vo.NoticeVO" useGeneratedKeys="true" keyProperty="nno">
	
	<!-- 자동증가  -->
    <selectKey keyProperty="nno" resultType="int" order="BEFORE">
    	SELECT NOTICE_SEQ.NEXTVAL FROM DUAL
    </selectKey>
	INSERT INTO NOTICE(    	NNO 
	   					       , TITLE 
	   					       , CONTENT 
	   					       , WRITER  )
	                  VALUES(    #{nno}
	                 		   , #{title}
	                 		   , #{content}
	                 		   , #{writer}  )
   
    </insert>
   
   <!-- 파일 넣기  -->
    <insert id="insertFile" parameterType="hashMap">
		INSERT INTO NOTICE_FILE(
			FILE_NO,
			NNO,
			ORG_FILE_NAME,
			STORED_FILE_NAME,
			FILE_SIZE
		)VALUES(
			SEQ_NOTICE_FILE.NEXTVAL,
			#{NNO},
			#{ORG_FILE_NAME},
			#{STORED_FILE_NAME},
			#{FILE_SIZE}
		)
    </insert>
    
    
</mapper>